<% extend CommunityTrackPlugin::TrackHelper %>
<% extend CommunityTrackPlugin::StepHelper %>
<div class="item <%= category_class(track) %>">
  <div class="track_content">
  <div class="item_card <%= category_class(track) %>">
    <a href="<%= url_for track.url %>">
    <div class="track_content">
      <div class="title" style="<%= track_color_style(track) %>">
        <%= track.category_name %>
      </div>
      <div class="image">
        <%= image_tag track.image.public_filename if track.image %>
      </div>
      <div class="name" style="<%= track_name_color_style(track) %>">
        <%= track.name %>
      </div>
      <div class="lead">
        <%= track.lead %>
      </div>
    </div>
    <div class="track_stats">
      <div class="comments">
        <span class="counter"><%= "#{track.comments_count}" %></span>
        <span class="label"><%= c_('comments') %></span>
      </div>
      <div class="hits">
        <span class="counter"><%= "#{track.hits}" %></span>
        <span class="label"><%= _('hits') %></span>
      </div>
    </div>
    </a>
</div>
<div class="steps" id="step-test">
  <h3><%= _("Steps") %></h3>
	<ul class='step-list'>
  <% track.steps.each do |step| %>
    <li>
      <div class='track-cards-steps' data-show-content='<%= block.show_step_content %>'>
        <%= link_to_step(step, :class=>'track-cards-steps-url')  %>
        <span class="step <%= block.status_class(step) %>">
          <span class="position"><%= step.position %></span>
          <span class="legend"><%= status_description(step) %></span>
          <span class="tool_icon button with-text icon-new icon-new<%= step.tool_class.icon_name if step.tool_class %>"></span>
          <span class="name">
            <%= step.name %>
          </span>
        </span>
      </div>
			<div class="track-cards-content">
				<% if step.children.first.present? %>				
           <p>
             <%= ("%{date}, by %{author}") % {:author => step.children.first.author.name,
                  :date => show_time(step.children.first.updated_at)} %>
           </p>
           <p class='title' id='step-title'><%= step.children.first.name %></p>
           <p><%= step.children.first.body.html_safe %></p>
           <p class='read-more'>
           <%= link_to_step(step) do %>
             <%= _("Read more") %>
           <% end %>
           </p>
        <% end %>
      </div>
    </li>
  <% end %>
  </ul>
</div>
</div>
<br style="clear: both;"/>
